.register-body{
  background-color: white;
  width: 70%;
  margin-left: 16%;
  margin-top: 30px;
  font-size: 20px;
  border-radius: 4%;
}
.register-body .sub-container{
    display: flex;
    flex-direction: row;
}
.register-body label{
  font-size: 50%;
}

.btn-color{
    background-color: #0e1c36;
    color: #fff;
    
  }
  
  .profile-image-pic{
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
  
  
  
  .cardbody-color{
    background-color: #ebf2fa;
  }
  
  a{
    text-decoration: none;
  }
  .address-design .register-input{
    height: 50%;
    width: 50%;
    font-size: 50%;
  }

  .register-input{
    height: 50%;
    width: 50%;
    font-size: 50%;
  }
  .btns{
    display: inline;
  }
  .btns button{
    margin-left: 10%;
    width: 30%;
    margin-bottom: 17px;
    margin-top: 20px;
  }