.category-card{
    width: 80%;
    height: 60%;
    margin-left: 26px;
  }
  
  .category-card img{
    border-radius: 7%;
  }
  .category-img{
    transition: transform 0.3s ease-in-out;
  }
  
  .category-img:hover{
    transform: scale(1.1);
  }

  .text{
    font-size: 24px;
  }